<html>

<head>
	<title>OverTheWire Status</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
	<div class="header">
		<a href="https://www.overthewire.org">OverTheWire</a>
		<img src="test_files/domokitten.png" class="domokitten"></img>
	</div>
	
	<div id="app">
		<div v-for="gamename in games" :key="gamename" class="game" id="game-{{gamename}}">
			<h1 class="name">{{gamename}}<span v-if="notUpdated(gamename)" class="blinking"
					title="No game data in last 20 minutes.">!</span></span>
			</h1>
			<ul>
				<li v-for="level in gamedata[gamename]" :key="level.name" class="level" :class="level.status"
					:title="'Status: '+level.status+', Last checked: ' + new Date(1000 * level.timestamp)">
					{{makeArrow(level.longname)}}
				</li>
			</ul>
		</div>
	</div>

	<script src="app.js"></script>
</body>

</html>
